<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <meta name="description" content="Real time arrival estimates for the Madison Metro.">
    <meta name="keywords" content"Madison, Metro, transit, bus schedule, smsmybus">
    <title>Madison Metro Monitor</title>

	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="robots" content="index, follow" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link href="/css/kiosk.css" type="text/css" rel="stylesheet" />

</head>
<body>

<div id="header">
  Madison Metro Monitor <img align="center" src="/img/madison_metro.png" alt="Madison Metro" height="70">
  <div id="clock">clock</div>
</div>
<div class="colmask doublepage">
  <p class="arrival"> :( the request parameters aren't valid. do you have the same number of stops and labels?</p>
</div>
<div id="footer">
<p>Special thanks to The City of Madison for great buses and for providing the GPS data that powers this service</p>
   <div id="powered-by">
     <a href=http://mymetrobus.com><img src="/img/madison_metro.png" alt="Madison Metro" height="30"></a>
     <a href=https://smsmybus.com><img src="/img/smsmybus.png" alt="smsmybus.com logo" height="30"></a>
   </div>

   <div id="me">
    <a href=http://www.gregtracy.com>Greg Tracy</a> - <a href=https://smsmybus.com>smsmybus</a> - <a href=https://twitter.com/gregtracy>@gregtracy</a><br>
    <a href=https://twitter.com/gl33p>Preston Austin - this interface</a> - <a href=https://twitter.com/gl33p>@gl33p</a>
   </div>

   <div id="contact-container">
   </div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2237321-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
